<!DOCTYPE html>
<html>
  <head>
    <title>Nexmo Rails Quickstart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <% if !flash.keys.empty? %>
        <% flash.keys.each do |key| %>
          <div id='flash_<%= key %>'>
            <%= flash[key] %>
          </div>
        <% end %>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
